[user]
	name = Martin Hardselius
	email = martin.hardselius@gmail.com
	signingkey = 84D80CE9A803D1C5

[alias]
	ctags             = !.git/hooks/ctags
	prettylog         = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
	diff    = auto
	status  = auto
	branch  = auto
	ui      = true

[core]
	excludesfile      = ~/.gitignore_global
	editor            = vim
	compression       = -1
	autocrlf          = input
	whitespace        = trailing-space,space-before-tab
	precomposeunicode = true
	pager             = diff-so-fancy | less --tabs=4 -RFX

[commit]
	gpgsign = true

[gpg]
	program = gpg

[credential]
        helper = osxkeychain

[apply]
	whitespace = nowarn

[help]
	autocorrect = 1

[merge]
	tool = diffmerge

[mergetool]
        keepBackup = false

[mergetool "diffmerge"]
	cmd           = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
	keepBackup    = false

[diff]
	tool = diffmerge

[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE

[difftool]
	prompt = false

[grep]
	extendRegexp = true
	lineNumber   = true

[push]
	default = simple

[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red bold 52
	newNormal = green
	newHighlight = blue bold 22

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	log = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[init]
	templatedir = ~/.git_template
