# OSX trash
.DS_Store

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Ignore tmux plugins
tmux/tmux.symlink/*
!tmux/tmux.symlink/.keep

# Ignore vim plugins
vim/vim.symlink/*
!vim/vim.symlink/.keep
