[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/Apprentice"]
	path = submodules/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "submodules/vim-goimports"]
	path = submodules/vim-goimports
	url = https://github.com/mattn/vim-goimports
[submodule "submodules/jellybeans"]
	path = submodules/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "submodules/ultisnips"]
	path = submodules/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "submodules/vim-terraform"]
	path = submodules/vim-terraform
	url = https://github.com/hashivim/vim-terraform
