name: Build Nix environments

on:
  pull_request:
    branches:
      - master
    paths:
      - '**'
      - '!**.md'
  push:
    branches:
      - master
    paths:
      - '**'
      - '!**.md'
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight UTC

jobs:
  build-darwin:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v10
        with:
          name: hardselius
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
      - if: ${{ github.event_name == 'schedule' && success() }}
        run: |
          nix flake update --recreate-lock-file
      - run: |
          echo -e "run\tprivate/var/run" | sudo tee -a /etc/synthetic.conf >/dev/null
          /System/Library/Filesystems/apfs.fs/Contents/Resources/apfs.util -B 2>/dev/null || true
      - run: |
          nix-env --set-flag priority 1 cachix
      - run: |
          nix build .#darwinConfigurations.bootstrap.system
      - run: |
          ./result/sw/bin/darwin-rebuild switch --flake .#bootstrap
      - run: |
          . /etc/static/bashrc
          sudo mv /etc/nix/nix.conf /etc/nix/nix.conf.backup-before-darwin
          sudo mv /etc/zshenv /etc/zshenv.backup-before-darwin
          darwin-rebuild switch --flake .#githubActions
      - if: ${{ github.event_name == 'schedule' && success() }}
        run: |
          git add --all
          git commit -m "Update sources"
          git push

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            substituters = https://cache.nixos.org/ https://hydra.iohk.io
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
      - uses: cachix/cachix-action@v10
        with:
          name: hardselius
          extraPullNames: iohk
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
      - run: |
          nix-env --set-flag priority 1 cachix
      - run: |
          nix build .#cloudVM.activationPackage; ./result/activate
